/* body {
    background-image: url("../images/background.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    height: 100vh;
} */
